*{ /*ajeitando as configurações iniciais da pagina*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /*variaveis de cores do proj no figma*/
    --brand-color-light: #60A5FA;
    --brand-color-dark: #1D4ED8; 
    --bg-color:#0F172A;
    --stroke-color:#1E293B;
    --text-color-primary:#F1F5F9;
    --text-color-secondary:#CBD5E1;

    /*variaveis de font do figma*/
    --font-family: 'Archivo', sans-serif;
    --h1:800 24px/135% var(--font-family); /*peso tamanho altura e font*/
    --h2:800 16px/140% var(--font-family);
    --h3:800 14px/140% var(--font-family);
    --text-span: 600 14px/145% var(--font-family);
    --text: 400 16px/140% var(--font-family);
    --text-sm: 400 14px/160% var(--font-family);
}

body{
    font: var(--text);
    color: var(--text-color-primary);
    background-color: var(--bg-color);
}

a{
    text-decoration: none; /*sem underline*/
    color: inherit; /*herdando a cor do pai que ele esta dentro*/
}
a:hover{ /*quando passar o mouse em cima*/
    color: var(--brand-color-light);
}

h1,h2,h3{
    font: inherit; /*herdando a cor do pai que ele esta dentro*/
}

img{
    max-width: 100%; /*isso faz as imagens n extrapolarem o tamanho maximo de 1280px q eu quero a pagina*/
}

.container{
    max-width: 1280px;/*largura maxima*/
    padding-inline: 32px; /*no eixo x vai ter espaçamento interno de 32*/
    margin-inline: auto; /*no eixo x vai ter espaçamento externo auto*/
}

main{
    margin-top: 40px; /*espaçamento externo 40 px*/
}

.content-tag{
    display: inline-block; /*quero que seja inline e block pq se n vai dar problema no background por falta do block e problema no padding por causa do por falta inline*/
    background-color: var(--brand-color-dark);
    padding: 4px 8px;
    border-radius: 4px;
    font: 500 10px/1.2 var(--font-family);
    text-transform: uppercase;/*deixar maiusculo*/
    letter-spacing: 0.04em;/*em olha o tamanho de fonte do pai*/
    color: var(--text-color-primary);
}



